<div id="home">
  <div class="columns top">
    <div class="column">
      <p>
        The only way to make sense out of change is to plunge into it, move with it, and join the dance.
        <span>Alan Watts</span>
      </p>
    </div>
  </div>

  <div class="columns sub">
    <div class="column is-7">
      <p>
        Hola and welcome! Thanks for visiting my small digital shelter.
      </p>
      <p>
        My name is Basti. I am 28 years old, originally from Germany. In 2013 I became
        a digital nomad and started scouting Europe.
      </p>
      <p>
        Digital because I am a full stack JavaScript web developer. I do
        freelance work for over 7 years now.
      </p>
      <p>
        Combining that with traveling has been the best decision for me as I
        throughout enjoying it.
      </p>
    </div>
  </div>
</div>
